
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
    
            <mat-form-field>
            <mat-label>Email</mat-label>
             <input formControlName="email" name="email" required matInput/>
            </mat-form-field>
            <mat-form-field class="feild">
             <mat-label>Password</mat-label>
            <input matInput type="showPassword  ? 'text': 'password' " formControlName="password"  required matInput/>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>
            </mat-form-field>
        
    </div>
   
        <div>
            <div class="login_class">
            <button type="button" mat-raised-button color="primary"style=" margin-top:3em ;" (click)="navigateToSecondChild()">dont have an account yet?</button>
            <button  type="submit"mat-raised-button color="primary" style="max-width:64px ; margin-top:2em ;"(ngSubmit)="onSubmit()">Login</button>
            </div>
        </div>
         <router-outlet></router-outlet>    
</form>
 
  
 
