
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" name="email" required matInput/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="feild">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="showPassword  ? 'text': 'password' " required matInput/>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
      </mat-form-field>
    </div>
    <div class="signup_class">
      <button type="button" mat-raised-button color="primary" style=" margin-top:3em ;" (click)="navigateToFirstChild()">allready have an account?</button>
    
      <button  type="submit"mat-raised-button color="primary" style="max-width:64px ; margin-top:2em ;"(ngSubmit)="onSubmit()">Sign Up</button>
      </div> 
  </form>
     <!-- <router-outlet></router-outlet>     -->
  
  
 
     